.intro{
  max-width: 690px;
  padding: 92px 0 0 148px;
}

@media (max-width:768px) {
  .intro{
    padding: calc(64px + (88 - 64) * ( (100vw - 320px) / ( 768 - 320) ))
             calc(16px + (24 - 16) * ( (100vw - 320px) / ( 768 - 320) ))
             0
             calc(16px + (24 - 16) * ( (100vw - 320px) / ( 768 - 320) ));
    max-width: 720px;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .intro{
    padding: calc(88px + (92 - 88) * ( (100vw - 768px) / ( 1024 - 768) ))
             calc(24px - (24) * ( (100vw - 768px) / ( 1024 - 768) ))
             0
             calc(24px + (48 - 24) * ( (100vw - 768px) / ( 1024 - 768) ));
    max-width: calc(720px - (720 - 690) * ( (100vw - 768px) / ( 1024 - 768) ))
  }
}

@media (min-width:1024px) and (max-width:1280px){
  .intro{
    padding: 92px
             0
             0
             calc(48px + (148 - 48) * ( (100vw - 1024px) / ( 1280 - 1024) ));
  }
}
