.lead__subtitle{
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 540px;
}

@media (max-width:767px){
  .lead__subtitle{
    max-width: calc(288px + (540 - 288) * ( (100vw - 320px) / ( 767 - 320) ));
    font-size: calc(16px + (30 - 16) * ( (100vw - 320px) / ( 767 - 320) ));
    line-height: 1.25;
    margin-top: 16px;
  }
}
